@import './Navbar.css';
@import './Card.css';
@import "./Footer.css";
@import "./variables";
@import "./mixins";

@include resetApp;

.container {
    height: inherit;
    width: 90%;
    font-size: 30px;

    & > .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}

@include responsive;