@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.card-section {
    @include cardSection;

    & > .card-img {
        @include cardImg;
    }

    & > .card-info {
        @include cardInfo;

        & > .location-link-header {
            @include locationLinkHeader;

            & > .location {
                @include location;

                & > i {
                    padding-right: 5px;
                    color: $color-tomato;
                }
            }

            & > .link {
                font-size: 0.55em;
                color: rgba(grey, 0.7);
            }

            & > .attraction-name{
                @include marginBlockReset;
                font-size: 1em;
                grid-column: 1 / 3;
            }
        }

        .date, .description {
            @include dateDescription;
        }
    }
}